.height-custom{
    min-height: 60vh;
}

.card-w{
    width: 20rem;
}

footer .social-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-top: 1px solid #ccc;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}